VITE_SUPABASE_URL=https://bufylnzgwubahttxbsaw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1Znlsbnpnd3ViYWh0dHhic2F3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5NTk0MDYsImV4cCI6MjA5NzUzNTQwNn0.3tmWWpsNeQ264MpG6GB2v_mqdRtb-7-fGQTXj34lUXM
